<div class="container-fluid remove-all-margin">
  <div class="hgt">
    
    <div class="sze">Journal of</div>
    <div>Cardiac Interventions</div>
  </div>
</div>
<div>

</div>
<div class="container-fluid remove-all-margin botop">
  <div class="hgt1">
    <div class="row">
    <div class="col-lg-2 borgt">
      <p>Journal Overview</p>
    </div>
    <div class="col-lg-2 borgt">
      <p>For Authors</p>
    </div>
    <div class="col-lg-2 borgt">
      <p>For Reviewers</p>
    </div>
    <div class="col-lg-2 borgt">
      <p>For Editors</p>
    </div>
    <div class="col-lg-2 borgt">
      <p>Table of Contents</p>
    </div>
    <div class="col-lg-2 borgt">
      <p>Special Issues</p>
    </div>
  </div>
  </div>

</div>

<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>