<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>



<div class="container">
  <div class="row">
<!-- Left side section starts -->
    <!-- <div class="col-lg-3">
      <div class="lf-side-sec safFFF">
        
        <div class="table-responsive">
        <table class="table" style="width: 100%;">
          <tr>
            <td style="font-weight: bold;">Page Content</td>
          </tr>
          <tr style="background-color: #F7F8F8;">
            <td><a href="authors/#authors">Guidelines for Authors</a></td>
          </tr>
            <tr>
            <td><a href="authors/#aimandscope">Aims and scope</a></td>
          </tr>
          <tr>
            <td><a href="authors/#submission">Submission</a></td>
          </tr>

          <tr>
            <td><a href="authors/#reviewmanuscripts">Review of manuscripts</a></td>
          </tr>
          <tr>
            <td><a href="authors/#submissionterms">Submission Terms</a></td>
          </tr>
          <tr>
            <td><a href="authors/#articlecategories">Article Categories</a></td>
          </tr>
        </table>
      </div>
      </div>
    </div> -->
<!-- Left side section ends -->
<!-- Main section starts -->
    <div class="col-lg-8 all-padd1">
      
          <h2 id="authors">Guidelines for Authors</h2>
          <div id="aimandscope">
          <h5>Aims and scope 
          </h5>
          <p>Journal of Cardiac Interventions (JCI) is an international
             journal covering the field of Cardiovascular Diseases and includes
              cardiac (coronary and noncoronary) and peripheral interventions and
               therapeutics. Articles are subject to peer review and complete editorial
                evaluation prior to any decision regarding acceptability.</p>
              </div>
          <div id="submission"></div>
          <h5>Submission</h5>
          <p>Manuscripts should be submitted by one of the authors of the manuscript
             through mail to 
            Only electronic PDF (.pdf) or Word (.doc, .docx, .rtf)
             files can be submitted through the MTS, and there is no page limit.
              The submitting author takes responsibility for the manuscript during
               submission and peer review. For technical help contact <a href="mailto:editor@journal-of-cardiac-interventions.com">editor@journal-of-cardiac-interventions.com</a>.
            </p>
          <h5 id="reviewmanuscripts">Review of manuscripts
          </h5>
          <p>All manuscripts will be reviewed first by the Editorial Committee. All papers considered suitable by the Editors to progress further in the review process will undergo appropriate peer review. When a manuscript is returned to the author for revision, it should be returned within 1 month.</p>
          <div id="submissionterms">
          <h5>Submission Terms</h5>
          <p>Manuscripts must be submitted on the understanding that
             they have not been published elsewhere and are only being
              considered by this journal. The submitting author is responsible
               for ensuring that the article’s publication has been approved by
                all the other coauthors. It is also the submitting author’s
                 responsibility to ensure that the article has all necessary
                  institutional approvals. Only an acknowledgment from the editorial
                   office officially establishes the date of receipt. Further correspondence
                    and proofs will be sent to the author(s) before publication,
                     unless otherwise indicated. It is a condition of submission
                      that the authors permit editing of the manuscript for reaazdability.
                       All inquiries concerning the publication of accepted manuscripts should
                        be addressed to <a href="mailto:editor@journal-of-cardiac-interventions.com">editor@journal-of-cardiac-interventions.com</a>. All submissions are bound by JCI’s terms
                         of service.</p>
          </div>
          <div id="articlecategories">
          <h5>Article Categories</h5>
          <p>Journal of Cardiac Interventions accepts articles in the following categories:</p>
          <p>•	Research Articles</p>
          <p>•	Reviews and Mini-reviews</p>
            <p>•	Clinical Researches</p>
              <p>•	Clinical Trials</p>
                <p>•	Case Reports</p>
                  <p>•	Images</p>
                    <p>•	Editorials (Invited)</p>
                      <p>•	Letter to the Editor/Author’s Reply</p>

    </div>
  </div>
    <!-- Main section ends -->
    <!-- Right side section starts -->
    <div class="col-lg-4 tab1">
      <div>
        <!-- Right side section starts -->
        <div class="quickSt">Quick Links</div>
          <table class="table">
            <tr>
              <td colspan="2"><i class="fa fa-leanpub" style="font-size:25px;color:red"></i>
                Journal metrics</td>
            </tr>
            <!-- <tr>
              <td>Acceptance rate</td>
              <td>12%
              </td>
            </tr>
            <tr>
              <td>Submission to final decision</td>
              <td>63 days</td>
            </tr>
            <tr>
              <td>Acceptance to publication</td>
              <td>77 days</td>
            </tr>
            <tr>
              <td>CiteScore</td>
              <td>0.580</td>
            </tr>
            <tr>
              <td>Impact Factor</td>
              <td>-</td>
            </tr> -->
            <tr class="alert alert-info">   <!--style="background-color: cadetblue;" -->
              <td><i class="fa fa-money-bill"></i>APC</td>
              <td>$ 299<sup>*</sup></td>
            </tr>
            <tr>
              <td><i class="fa fa-folder-open" style="font-size:25px; color: brown;"></i>&nbsp;Submit</td>
              <td><a routerLink="/submit"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            
            <tr class="bgclr">
              <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Reviewer Guidelines</td>
              <td><a routerLink="/reviewers"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <tr class="bgclr">
              <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Editor Guidelines</td>
              <td><a routerLink="/editors"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <tr class="bgclr2">
              <td><i class="fa fa-users"  style="font-size:25px; color: brown;"></i>&nbsp;Editorial Board</td>
              <td><a routerLink="/editorialboard"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <!-- <tr class="bgclr3">
              <td><small><sup>*</sup>We want grow, we are not concerned about fee</small></td>
              <td></td>
            </tr> -->
            <!-- <i class="fa fa-car"></i>
            <i class="fa fa-car" style="font-size:48px;"></i>
            <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->
          </table>
      </div>

    </div>
  </div>
</div>

